.positioner {
	position: relative;
	display: inline-block;
	line-height: 0;
}

.starbox .colorbar,
.starbox .ghost {
	z-index: 0;
	position: absolute;
	max-width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
}

.starbox .stars {
	display: inline-block;
}

.starbox .stars .star_holder {
	position: relative;
	z-index: 1;
}

.starbox .stars .star_holder .star {
	display: inline-block;
	vertical-align: baseline;
	background-repeat: no-repeat;
}


/* Override with your own image and size… */
.starbox .stars .star_holder .star {
	background-image: url('../img/star2.png');
	width: 50px;
	height: 50px;
	background-position: center center;
	background-size: 50px 50px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	//margin-right: 5px; 
}

/* Override with your own colours… */
.starbox .stars { 
	background:  transparent; 
}
.starbox .rated .stars { 

}
.starbox .rated.hover .stars {
	background-image: url('../img/star3.png');
	width: 50px;
	height: 50px;
	z-index: 2;
	background-size: contain; }
.starbox .colorbar { 
background-image: url('../img/star3.png');
	width: 50px;
	height: 50px;
	z-index: 2;
	background-size: contain;}
.starbox .hover .colorbar {
	background-image: url('../img/star3.png');
	width: 50px;
	height: 50px;
	z-index: 2;
	background-size: contain; }

.starbox .rated .colorbar { 

}
.starbox .rated.hover .colorbar { }
.starbox .ghost {  }
