.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 3.3em 141.7em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrows-right:before {
      background-position: 0em 0em;
      width: 1.8em;
      height: 1.5em;
  }




  .icon.bag:before {
      background-position: 0em -1.5em;
      width: 2.7em;
      height: 2.1em;
  }




  .icon.bag2:before {
      background-position: 0em -3.6em;
      width: 2.2em;
      height: 1.6em;
  }




  .icon.bag3:before {
      background-position: 0em -5.2em;
      width: 2.7em;
      height: 2em;
  }




  .icon.bag4:before {
      background-position: 0em -7.2em;
      width: 2.2em;
      height: 1.6em;
  }




  .icon.bag5:before {
      background-position: 0em -8.8em;
      width: 2.7em;
      height: 2em;
  }




  .icon.cancel:before {
      background-position: 0em -10.8em;
      width: 1em;
      height: 1em;
  }




  .icon.canceled:before {
      background-position: 0em -11.8em;
      width: 2em;
      height: 2em;
  }




  .icon.delivered:before {
      background-position: 0em -13.8em;
      width: 2em;
      height: 2em;
  }




  .icon.facebook:before {
      background-position: 0em -15.8em;
      width: 3.2em;
      height: 3.1em;
  }




  .icon.facebook2:before {
      background-position: 0em -18.9em;
      width: 3.2em;
      height: 3.1em;
  }




  .icon.google-plus:before {
      background-position: 0em -22em;
      width: 3.3em;
      height: 3.1em;
  }




  .icon.google-plus2:before {
      background-position: 0em -25.1em;
      width: 3.3em;
      height: 3.1em;
  }




  .icon.letter:before {
      background-position: 0em -28.2em;
      width: 2em;
      height: 1.4em;
  }




  .icon.letter-s:before {
      background-position: 0em -29.6em;
      width: 1.7em;
      height: 1.2em;
  }




  .icon.letter-s-yellow:before {
      background-position: 0em -30.8em;
      width: 1.7em;
      height: 1.2em;
  }




  .icon.menu:before {
      background-position: 0em -32em;
      width: 1.5em;
      height: 1.5em;
  }




  .icon.pending:before {
      background-position: 0em -33.5em;
      width: 2em;
      height: 2em;
  }




  .icon.sprite:before {
      background-position: 0em -35.5em;
      width: 2.3387668320340187em;
      height: 100em;
  }




  .icon.symbols:before {
      background-position: 0em -135.5em;
      width: 0em;
      height: 0em;
  }




  .icon.twitter:before {
      background-position: 0em -135.5em;
      width: 3.3em;
      height: 3.1em;
  }




  .icon.twitter2:before {
      background-position: 0em -138.6em;
      width: 3.3em;
      height: 3.1em;
  }





